/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}




/* Global*/




.float-left {
    float: left;
}

.container {

    width: 80%;
    margin: auto;
    padding-top: 10%;
}

.cont {
    width: 35%;
    display: inline-block;
}

.cont1{
    margin-right: -10%;
}

.cont2{
    margin-right: 5%;
   
}
.cont3{
    padding-left: 10%;
}

.box {
    width: 30%;
    background-color: black;
    margin: 0.3% 0%;

}



.tab-text {
    text-align: center;
    color: white;
    padding: 35% 25%;
}
.para-text{
    color: grey;
    margin-top: 5%;
}

/* Private */

#box-color {
    background-color: orange;
}
#heading-text{
    font-size: 25px;
    
}

button{
    margin-top: 15%;
    padding: 2% 6%;
    border-radius: 5px;
    background-color: orange;
    color: white;
    border-color: orange;
}
