*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.shape {
    width:25% ;
    height: 400px;
    vertical-align: top;
}




#box1{
    background-color: aqua;
    display: inline-block;
  
}

#box1 h1{
    
    color: aliceblue;
    text-align: center;
    margin-top: 25%;
}

#box1 p{
    text-align: center;
    color: aliceblue;
}

#box2{
    background-color: aliceblue;
    display: inline-block;
   
}

#box2 h2{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}



.inputshape{
    background-color: lightgrey;
    border: 0;
    margin:1% 29%;
    padding: 1% 1% 1%;
}

#label{
    margin: 1% 28%;
}

#submitBtn{
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 9px;
    border: 1px;
    background-color: aqua;
    color: aliceblue;
    padding: 2% 10%;
}