*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

a{
    text-decoration: none;
}
ul,ol{
    list-style-position: inside;
}

ul{
    list-style: none;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.w-5{
    width: 5%;

}

.w-70{
    width: 70%;

}

.w-25{
    width: 25%;
}
.w-100{
    width: 100%;
}

.side-icon{

    font-size: 30px;
    color: #B4BCCF;
}
.py-55{
    padding: 55% 0%;
}

.side-icons{
    margin-top: 125%;
}

.text-align-center{
    text-align: center;
}

.orange-icon{
    background-color: #FF8A00;
    font-size: 30px;
    padding: 10%;
    border-radius: 5px;
    color: white;
}

.bg-light{
    background-color: #f5f4f4;
}

.py-5{
    padding: 5% 0%;
}

.container{
    width: 95%;
    margin: auto;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}

.justify-content-between{
    justify-content: space-between;
}

.w-95{
    width: 95%;
}

.search-input{
    background-color: #B4BCCF69;
    border: none;
    border-radius: 10px;
    padding: 5% 11% 5% 25%
    
}

.search-input:focus{
    outline: none;
}
.search-icon{
    top: 35%;
    left: 7%;
    color: #61656F;
}


.w-30{
    width: 30%;
}

.text-light{
    color: #B4BCCF;
    
}

.font-roboto{
    font-family: 'Roboto';
}

.weight600{
    font-weight: 600;
}

.bg-dark{
    background-color: #2F2F2F;
    border-radius: 35px;
}

.p-3-5{
 padding: 3% 5%;
}
.w-60{
    width: 60%;
}
.font-size45{
    font-size: 45px;
}

.text-white{
    color: white;
}

.text-orange{
    color: #FF9921;
}
button{
    background-color: #FF9921;
}
.order-button{
    padding: 2% 5%;
    border-radius: 10px;

}
.font-size30{
    font-size: 30px;
}

.bg-circle-grey{
    background-color:#D9D9D9;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bg-white{
    background-color: white;
    
}
.align-item-center{
    align-items: center;
}
.w-15{
    width: 15%;
}
.m-3-5{
    margin: 3% 5%;
}
.border-radius50{
    border-radius: 50px;
}
.font-size25{
    font-size: 25px;
}
.box-shadow{
    box-shadow: 0px 0px 5px 0px #2F2F2F ; 
}
.w-45{
    width: 45%;
}
.w-50{
    width: 50%;
}
.text-green{
    color: #01C550;
}

.border-add{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    line-height: 4;
}



.mt-20{
    margin-top: 20%;
}

.mt-10{
    margin-top: 10%;
}
.py-10{
    padding: 10% 0%;
}

.card-img-size{
    margin-top: 10%;
    width: 100%;
}

.font-size16{
    font-size: 16px;
}
.font-size18{
    font-size: 18px;
}
.font-size20{
    font-size: 20px;
}

.justify-content-around{
    justify-content: space-around;
}
.border-radius15{
    border-radius: 15px;
}
.border-add2{
    width: 35px;
    height: 35px;
    border-radius: 10px;

}
.border-add2 i{
    font-weight: 900;
}

.line-height2-5{
    line-height: 2.5;
}

.line-height2{
    line-height: 2;
}

.w-55{
    width: 55%;
}
.my-10{
    margin: 10% 0%;
}

.container2{
    width: 85%;
    margin: auto;
}

.checkout-button{
    padding: 5% 10%;
    border-radius: 10px;
    border: none;
}
.m-10-3{
    margin: 10% 30%;
}